@font-face {
    font-family: 'Baron' ;
    src: url(../font/BaronNeue-Black.otf);
}

@font-face {
  font-family: 'regular' ;
  src: url(../font/BaronNeue-Regular.otf);
}

@font-face {
  font-family: 'Dosis' ;
  src: url(../font/Dosis-Light.ttf);
}


.fondo  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -10;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;

}
.fondo2  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -11;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}
 .bloque  {

        background: #2d2d2b;
        opacity: 50%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        z-index: -8;
        text-align: center;
        line-height: 90vh;
}
    

.one    {
    
    width: 100%;
    height: 90vh;
    display: flex;
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.two {
    
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tree   {
    
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

section.img{
    
    display: flex;
    align-items: center;
}

.text {
    font-family: Baron;
    border-radius: 30px ;
    background-color: #1f3027;
    height: 08vh;
    width: 45vh;
    display: flex;
  
    justify-content: center;
    align-items: center;
    align-items: center;
    transition: 0.3s;
    
}

a  {

    text-decoration: none;
    color: #eeeeee;
}

h2:hover {
    background: #2d2d2b;
}




.splash {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #2d2d2b;
    color: white;
    z-index: 200;
    text-align: center;
    line-height: 123vh;
   
}

.splash.display-none{

    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0);
    color: white;
    z-index: -10;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
   
}

@keyframes fadeIn {
    to {
        opacity: 1;
        
    }

}

.fade-in{
    
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}



.banner{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -9;
	background-color: #787877;
	background-size: cover;
    background-position: center;
    transition: all .1s ease-out;
    background-image: url(../imagenes/fondo1.png);
    animation: banner 28s infinite linear;
}


@keyframes banner{
	0%{
		background-image: url(../imagenes/fondo1.png);
	}
	25%{
		background-image: url(../imagenes/fondo1.png);
	}


	26%{
		background-image: url(../imagenes/fondo2.png);
	}
	50%{
		background-image: url(../imagenes/fondo2.png);
	}


	51%{
		background-image: url(../imagenes/fondo3.png);
	}
	75%{
		background-image: url(../imagenes/fondo3.png);
	}
	

	76%{
		background-image: url(../imagenes/fondo4.png);
	}
	100%{
		background-image: url(../imagenes/fondo4.png);
	}

}

.choco    {
    border: 3px transparent;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.juego  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -11;
    text-align: center;
    line-height: 90vh;
    transition: all 0.5s;
}

@font-face {
    font-family: 'Baron';
    src: url('/font/BaronNeue-Black.otf');
  }
  
  @font-face {
  font-family: 'regular',sans-serif;
  src: url('/font/BaronNeue-Regular.otf');
  }
  
  @font-face {
  font-family: 'itali',sans-serif;
  src: url('/font/BaronNeue-Italic.otf');
  }
  
  @font-face {
  font-family: 'Dosis';
  src: url('/font/Dosis-Light.ttf');
  }
  
  
  .cuerpo{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }
  
  /*Estilos del icono*/
  .icono-menu{
      margin: 40px 50px;
      position: absolute;
      z-index: 99;
  }
  .icono-menu img{
      vertical-align: top;
      width: 40px;
      cursor: pointer;
      
  }
  
  /* Estilos para contenedor menú */
  .cont-menu{
      background-color: #232323;
      box-shadow: 2px 0px 5px 2px #2d2d2b;
      width: 300px;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .5s ease;
      z-index: 2;
  }
  /*Estilos js*/
  .active{
      transform: translate(-600px);
  }
  .opacity{
      background-color: rgba(0, 0, 0, 0.5);
      transition: all .5s ease;
  }
  
  /* estilos listado */
  .cont-menu ul{
      padding: 100px 0px 20px 0px;
      list-style: none;
      
  }
  .cont-menu ul li{
      color: #eeee;
      display: block;
      font-size: 25px;
      text-decoration: none;
      padding: 10px 50px;
      cursor: pointer;
      z-index: 2;
  }
  .cont-menu ul li:hover{
      background-color: rgb(228, 228, 228);
      color: rgb(42, 42, 42);
      
  
  }
  
  #menu li{
    
      font-family:'Dosis';
  }
  
  /*REDES*/
  
  .redes-container{
    display: flex;
    height: 0;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 2px ;
    position: relative;
    z-index: 110;
  }
  
  .redes-container ul li{
      display: block;
      margin: 5px 5px;
      width: 50px;
      height: 50px;
      text-align: center;
      
  }
  
  .redes-container ul li a{
      display: block;
      padding: 0 10px;
      background: #2d2d2b;
      color: #efefef;
      line-height: 50px;
      font-size: 25px;
      box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
      transition: .2s;
      
  
  }
  
  .redes-container ul:hover a{
      filter: blur(2px);
  }
  
  .redes-container ul li a:hover{
      transform: translateY(-3px) scale(1.06);
      box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
      filter: none;
      
  
  }
  
  .redes-container ul li .twitter:hover{
      background: #3c84f0;
  }
  .redes-container ul li .facebook:hover{
      background: #1d33f0;
  }
  .redes-container ul li .youtube:hover{
      background: #fc210b;
  }
  .redes-container ul li .instagram:hover{
      background-image: linear-gradient(45deg,  #f58529, #feda77, #dd2a7b, #8134af, #515bd4);
  }
  
  
  /*SLIDER*/
  
  .contenedor {
      width: 100vw;
      height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      
  }
  
  .contenedor form{
      box-sizing: border-box;
      text-align: center;
      padding: 22px;
      display: inline-flex;
      flex-direction: column;
      position: fixed;
      height: 100vh;
      justify-content: center;
      
  }
  .contenedor form input {
      height: 0;
      margin: 12px 0;
      z-index: 1;
  }
  
    .contenedor form input:checked {
      outline: 0;
      border: 0;
      
    }
  .contenedor form input:before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid #efefef;
      border-radius: 11px;
      cursor: pointer;
      transition: all 0.25s linear;
      
  }
  
  .contenedor form input:checked:before {
      background-color: #777776;
    }
    .contenedor form input:after {
      content: "" attr(titulo) "";
      position: relative;
      left: 30px;
      opacity: 0;
      color: #161616;
      font-size: 10px;
      display: block;
      min-width: 80px;
      transition: all 0.25s linear;
      
    }
    .contenedor form input:checked:after {
      opacity: 1;
      left: 20px;
      
    }
    .contenedor form input:hover:after:not(label) {
      opacity: 1;
    }
  
    .contenedor form input:nth-of-type(1):checked ~ .labels label {
      transform: translateY(-0%);
      background-image: url(../imagenes/06.1.png);
      
      
    }
    .contenedor form input:nth-of-type(2):checked ~ .labels label {
      transform: translateY(-100%);
      background-image: url(../imagenes/07.1.png);
    }
    .contenedor form input:nth-of-type(3):checked ~ .labels label {
      transform: translateY(-200%);
      background-image: url(../imagenes/08.png);
    }
    .contenedor form input:nth-of-type(4):checked ~ .labels label {
      transform: translateY(-300%);
    }
    .contenedor form input:nth-of-type(5):checked ~ .labels label {
      transform: translateY(-400%);
    }
    .contenedor form input:nth-of-type(6):checked ~ .labels label {
      transform: translateY(-500%);
    }
    .contenedor form input:nth-of-type(7):checked ~ .labels label {
      transform: translateY(-600%);
    }
    .contenedor form .labels {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh; 
      display: flex;
      flex-direction: column;
      
    }
    .contenedor form .labels label {
      min-width: 100vw;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 0;
      transition: all 0.75s cubic-bezier(0.75, 0.25, 0, 1.05);
    }
  
    .contenedor form .labels label:nth-child(odd) {
     
      color: #161616 !important;
    }
  
    .cuerpo {
      
      font-size: 16px;
      font-weight: 100;
      background: #777776;
      overflow: hidden;
      
    }
    .content {
      width: 70%;
      box-sizing: border-box;
      padding: 0 110px;
      
      
      
    }
    .content .block {
      width: inherit;
      font-size: 11px;
      font-weight: 400;
      line-height: 1.5;
      margin: 42px 0;
      display: flex;
      justify-content: center;
      
    }
    
    .content .block span, .content .block span i {
      margin: 0 42px;
      
    }
    .content .block span i {
      margin-bottom: 22px;
    }
    .content .block span i:before {
      font-size: 30px;
    }
    
    .Slide:nth-child(even) .content .block {
      color: #717171;
    }
  
  
    #Slide5 .content .block {
      flex-direction: column;
    }
    #Slide5 .content .block i {
      margin: 0 12px;
      vertical-align: middle;
    }
    
    strong {
      font-weight: 400;
      font-size: 20px;
    }
  
    .cuerpo h1 {
      text-transform: uppercase;
      font-size: 30px;
      
    }
    
    .cuerpo ol {
      text-align: left;
      list-style-type: decimal;
    }
    
    .cuerpo a {
      text-decoration: none;
      color: inherit;
      transition: all 0.25s linear;
    }
    .cuerpo a:hover {
      color: #29332c;
    }
  
   .content p{
    font-size: 25px;
  }
  .inicio1 {
    color: #eeeeee;
    font-family:  'Baron';
    
  }
  .inicio {
    color: #2d2d2b;
    font-family:  'Baron';
    
  }
  .inicio2 {
    color: #eeeeee;
    font-family:  'Baron';
    
  }
  .parrafo {
    color: #2d2d2b;
    font-family:  'Dosis';
  }
  .parrafo1 {
    color: #eeeeee;
    font-family:  'Dosis';
    
  }
  
  .parrafo2 {
    color: #eeeeee;
    font-family:  'Dosis';
    
  }
  
  
  










  /*unicio de historia*/
  .splash {
    z-index: 200;
  }
  .slider_warpper {
    z-index: -10;
  }
  /*Estilos del icono*/
.icono-menu{
  margin: 40px 50px;
  position: relative;
  z-index: 99;
  margin: 0;
  
}
.icono-menu img{
  
  position: absolute;
  vertical-align: top;
  width: 40px;
  cursor: pointer;
  z-index: 0;
  margin: 30px;
}

/* Estilos para contenedor menú */
.cont-menu{
  
  background-color: #232323;
  box-shadow: 2px 0px 5px 2px #1f3027;
  width: 400px;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .5s ease;
  z-index: 20;
}
/*Estilos js*/
.active{
  transform: translate(-600px);
  
}
.opacity{
  background-color: rgba(0, 0, 0, 0.5);
  transition: all .5s ease;
  
}

/* estilos listado */
.cont-menu ul{
  padding: 100px 0px 20px 0px;
  list-style: none;
  z-index: 20;
}
.cont-menu ul li{
  color: #eeee;
  display: block;
  font-size: 25px;
  text-decoration: none;
  padding: 10px 50px;
  cursor: pointer;
  z-index: 20;
  font-family: 'Dosis';

  
}
.cont-menu ul li:hover{
  background-color: rgb(228, 228, 228);
  color: rgb(42, 42, 42);
  z-index: 20;
  

}




.todo, .todo:before, .todo:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

.slider__navi {
position: absolute;
top: 50%;
right: 20px;
transform: translateY(-50%);
-webkit-transform: translateY(-50%);
-moz-transform: translateY(-50%);
-ms-transform: translateY(-50%);
-o-transform: translateY(-50%);
z-index: 2;
}

.slider__navi a {
display: block;
height: 6px;
width: 20px;
margin: 20px 0;
text-indent: -9999px;
box-shadow: none;
border: none;
background: rgba(0,0,0,0.2);
}

.slider__navi a.active {
background: rgba(255,255,255,1);
}


.todo {
	position: relative;
	font-size: 100%;
	font-family: 'Dosis';
	font-weight: 400;
	min-height: 100vh;
}

.flex__container {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	-o-flex-flow: row wrap;
	flex-flow: row wrap; 
	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;
	height: 100vh;
	width: 100%;
	z-index: 1;
}

.flex__container.flex--active {
	z-index: 2;
}

.text--sub {
	font-size: 12px;
	letter-spacing: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 40px;
  font-family: 'Dosis';
}

.text--big {
	font-family: 'Baron';
	font-size: 5.0em;
	font-weight: 700;
	line-height: 110px;
  margin-left: -8px;
}

.text--normal {
	font-size: 13px;
	color: rgba(255, 255, 255, 0.8);
	line-height: 22px;
	margin-top: 25px;
}
#color	{

	color: #232323;
}

.text__background {
	font-family: 'Baron';
	position: absolute;
	left: 72px;
	bottom: -30px;
	color: rgba(0,0,0,0.05);
	font-size: 150px;
	font-weight: 700;
}

.flex__item {
	height: 100vh;
	color: #fff;
	transition: transform 0.1s linear;
}

.flex__item--left {
	display: flex;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	align-items: center;
	-webkit-align-items: center;
	-moz-align-items: center;
	-ms-align-items: center;
	width: 65%;
	transform-origin: left bottom;
	transition: transform 0.1s linear 0.4s;
	opacity: 0;
	position: relative;
	overflow: hidden;
}

.flex__item--right {
	width: 35%;
	transform-origin: right center;
	transition: transform 0.1s linear 0s;
	opacity: 0;
}

.flex--preStart .flex__item--left,
.flex--preStart .flex__item--right,
.flex--active .flex__item--left,
.flex--active .flex__item--right {
	opacity: 1;
}

/* Capitulo 1 */

.flex--piplup .flex__item--left {
	background: #2d2d2b;
}

.flex--piplup .flex__item--right {
	background-image: url(../imagenes/a1.png);
}

/* Edier */

.flex--pikachu .flex__item--left {
	background: #787877;
}

.flex--pikachu .flex__item--right {
	background-image: url(../imagenes/4.png);
	background-repeat: no-repeat;
}

/* La vida */

.flex--blaziken .flex__item--left {
	background: #2e4639;
}

.flex--blaziken .flex__item--right {
	background-image: url(../imagenes/fondo2.png);
}

/* choco */

.flex--dialga .flex__item--left {
	background: #eeeeee;
}

.flex--dialga .flex__item--right {
	background-image: url(../imagenes/a3.png);
}

/* bocetos */

.flex--zekrom .flex__item--left {
	background: #2d2d2b;
}

.flex--zekrom .flex__item--right {
	background-image: url(../imagenes/a1.gif);
}

.flex__content {
	margin-left: 80px;
	width: 55%;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.2s linear 0.2s, opacity 0.1s linear 0.2s;
}

.pokemon__img {
	position: absolute;
	bottom: 20px;
	right: 15%;
	max-height: 40vw;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: opacity 0.43s 0.6s, transform 0.4s 0.65s cubic-bezier(0, 0.88, 0.4, 0.93);
}

/* Animate-START point */

.flex__container.animate--start .flex__content {
	transform: translate3d(0,-200%,0);
	opacity: 0;
}

.flex__container.animate--start .pokemon__img {
	transform: translate3d(-200px,0,0);
	opacity: 0;
}

/* Animate-END point */

.flex__container.animate--end .flex__item--left {
	transform: scaleY(0);
}

.flex__container.animate--end .flex__item--right {
	transform: scaleX(0);
}

.flex__container.animate--end .flex__content {
	transform: translate3d(0,200%,0);
	opacity: 0;
}

.flex__container.animate--end .pokemon__img {
	transform: translate3d(200px,0,0);
	opacity: 0;
}













